# Zadanie 1
Wgraj plik DANE_PAD_02.csv jako ramkę danych.
Oblicz liczebność każdej z wartości w zmiennej COUNTRY.

In [1]:
import pandas as pd

df = pd.read_csv('datasets/PAD_02_PD.csv', sep=';')
df[['owns_car', 'owns_TV', 'owns_house', 'owns_Phone']] = df[['owns_car', 'owns_TV', 'owns_house', 'owns_Phone']].fillna(0)
df.head()

   ID Country  owns_car  owns_TV  owns_house  owns_Phone gender  Age
0   1       A       0.0      0.0         0.0           1      M   61
1   2       B       0.0      0.0         0.0           1      M   44
2   3       A       0.0      0.0         0.0           1      M   56
3   4       A       0.0      0.0         0.0           1      M   53
4   5       C       1.0      1.0         0.0           1      K   60

In [2]:
df['Country'].value_counts(dropna=False)

A      328
B      201
C      186
D       78
NaN      7
Name: Country, dtype: int64

# Zadanie 2
Stwórz zmienną, która będzie informowała o liczbie posiadanych dóbr.

In [3]:
assets = df[['owns_car', 'owns_TV', 'owns_house', 'owns_Phone']].astype(bool).sum(axis=0)

# lub alternatywnie:
import numpy as np
assets_count = np.count_nonzero(df[['owns_car', 'owns_TV', 'owns_house', 'owns_Phone']], axis=0)

assets

owns_car      187
owns_TV       356
owns_house    159
owns_Phone    755
dtype: int64

# Zadanie 3
Porównaj średnią posiadanych dóbr między kobietami i mężczyznami.

In [4]:
men_df = df[df['gender'] == 'M'][['owns_car', 'owns_TV', 'owns_house', 'owns_Phone']]
women_df = df[df['gender'] == 'K'][['owns_car', 'owns_TV', 'owns_house', 'owns_Phone']]
men = men_df.mean()
women = women_df.mean()

In [5]:
comparison_df = pd.DataFrame({'Mężczyźni': men,'Kobiety':women})
comparison_df

            Mężczyźni   Kobiety
owns_car     0.000000  0.476804
owns_TV      0.000000  0.909794
owns_house   0.000000  0.407216
owns_Phone   0.889435  1.000000

# Zadanie 4
Stwórz ramkę danych, która zawierać będzie w pierwszej kolumnie wartość zmiennej COUNTRY, w drugiej kolumnie, średnią posiadanych dóbr w danym kraju, w trzeciej kolumnie minimum wieku, a czwartej kolumnie odsetek kobiet.

In [6]:
df['Goods'] = df['owns_car'] + df['owns_TV'] + df['owns_house'] + df['owns_Phone']

my_df = df[['Country']].groupby('Country').count()
my_df['Goods Avg'] = df[['Country', 'Goods']].groupby('Country').mean()
my_df['Min Age'] = df[['Country', 'Age']].groupby('Country').min()

def women_average(x):
    women_per_country = len(df[(df['gender'] == 'K') & (df['Country'] == x)])
    both_genders_per_country = len(df[((df['gender'] == 'K') | (df['gender'] == 'M')) & (df['Country'] == x)])
    return 100*women_per_country/both_genders_per_country

my_df = my_df.reset_index()
my_df['Women Avg'] = my_df['Country'].apply(women_average)
my_df

  Country  Goods Avg  Min Age  Women Avg
0       A   0.862805       18        0.0
1       B   1.452736       18       62.5
2       C   3.021505       18      100.0
3       D   4.000000       18      100.0