# Zadanie 1

Zbiór danych bank.csv opisuje kontakty telefoniczne jakich dokonano z klientami pewnego banku, w celu przekonania ich do skorzystania z nowej oferty tegoż banku.
W oparciu o zawarte w zbiorze dane odpowiedz na następujące pytania:

    a)	W którym miesiącu dokonano najwięcej połączeń, a w którym najmniej?
    b)	W którym miesiącu średni czas rozmowy był największy?
    c)	Czy wykształcenie przekłada się na posiadane oszczędności? (Kolumna balance)
    d)	Ile lat miała najstarsza osoba będąca w związku małżeńskim, a ile najstarszy singiel?

In [1]:
import pandas as pd

df = pd.read_csv('bank.csv', delimiter=';')
df.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration
0,30,unemployed,married,primary,no,1787,no,no,cellular,19,oct,79
1,33,services,married,secondary,no,4789,yes,yes,cellular,11,may,220
2,35,management,single,tertiary,no,1350,yes,no,cellular,16,apr,185
3,30,management,married,tertiary,no,1476,yes,yes,unknown,3,jun,199
4,59,blue-collar,married,secondary,no,0,yes,no,unknown,5,may,226

#### a) W którym miesiącu dokonano najwięcej połączeń, a w którym najmniej?

In [2]:
months = df['month'].value_counts().sort_values(ascending=False)
months

may    1398
jul     706
aug     633
jun     531
nov     389
apr     293
feb     222
jan     148
oct      80
sep      52
mar      49
dec      20
Name: month, dtype: int64

In [3]:
print('Najwięcej połączeń wynonano w miesiącu: ', months.idxmax())
print('Najmniej połączeń wynonano w miesiącu: ', months.idxmin())

Najwięcej połączeń wynonano w miesiącu:  may
Najmniej połączeń wynonano w miesiącu:  dec

#### b) W którym miesiącu średni czas rozmowy był największy?

In [4]:
duration = df['duration'].groupby(df['month']).mean().sort_values(ascending=False)
duration

month
dec    416.900000
apr    294.354949
oct    272.800000
nov    272.066838
jul    271.205382
jan    269.540541
may    267.316166
feb    255.698198
jun    252.425612
aug    243.742496
sep    215.730769
mar    198.897959
Name: duration, dtype: float64

In [5]:
print('Średni czas rozmowy był najdłuższy w miesiącu: ', duration.idxmax())
print('Średni czas rozmowy był najkrótszy w miesiącu: ', duration.idxmin())

Średni czas rozmowy był najdłuższy w miesiącu:  dec
Średni czas rozmowy był najkrótszy w miesiącu:  mar

#### c)	Czy wykształcenie przekłada się na posiadane oszczędności? (Kolumna balance)

In [6]:
df['balance'].hasnans

False

In [7]:
df[['education', 'balance']].groupby('education').mean()
# Wykształcenie nie przekłada się na posiadane oszczędności

               balance
education
primary    1411.544248
secondary  1196.814397
tertiary   1775.423704
unknown    1701.245989

#### d)	Ile lat miała najstarsza osoba będąca w związku małżeńskim, a ile najstarszy singiel?

In [8]:
df[['marital', 'age']].groupby('marital').max()
# Najstarsza osoba będąca w związku małżeńskim ma 87 lat, a najstarszy singiel 69

          age
marital
divorced   84
married    87
single     69